# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Archivos de construcción

# Archivos locales
*.local

# Directorios y archivos del editor
.vscode/*
!.vscode/extensions.json
.idea

# Archivos específicos del sistema operativo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
